# Get Files From Buckets
Quick guide to retrieve files from Buckets

In [54]:
# Imports
import pandas as pd
from google.cloud import storage

# Variables
client = storage.Client()
bucket_name = "rdmf_mock_data"

all_blobs = list(client.list_blobs(bucket_name))

In [60]:
for blob in all_blobs:
    path = f"gs://{bucket_name}/{blob.name}"
    print(path)

gs://rdmf_mock_data/AI_mockdata.csv
gs://rdmf_mock_data/BI_mockdata.csv
gs://rdmf_mock_data/DI_mockdata.csv

### Pandas

In [61]:
pd.read_csv(path, encoding='latin-1').head(1)

,DI_ID,first_name,last_name,age,gender,ethnicity,paye_scheme_ref,UPRN
0,404047554700033,Dodge,Barra do PiraÃ­,20,F,red,100747,950825570738

### Pyspark

In [56]:
spark = SparkSession.builder.appName("test").getOrCreate()

In [59]:
df = spark.read.csv(path, header=True)
df.show(1,vertical=True)

-RECORD 0--------------------------
 DI_ID           | 404047554700033
 first_name      | Dodge
 last_name       | Barra do Piraí
 age             | 20
 gender          | F
 ethnicity       | red
 paye_scheme_ref | 100747
 UPRN            | 950825570738
only showing top 1 row