* Creating synthetic business data with ID
* Creating a new bucket, storing the data within the bucket 
* Reading the data 
* Creating a big query table with the data

In [1]:
import pandas as pd
from google.cloud import bigquery
from google.cloud import storage
import io

# Create a pandas dataframe
df = pd.DataFrame({
    "business_id": ["1234567890123456", "2345678901234567", "3456789012345678", "4567890123456789", "5678901234567890", "6789012345678901", "7890123456789012", "8901234567890123", "9012345678901234", "0123456789012345"],
    "creation_date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05", "2023-01-06", "2023-01-07", "2023-01-08", "2023-01-09", "2023-01-10"],
    "load_date": ["2023-01-01", "2023-01-02", "2023-01-03", "2023-01-04", "2023-01-05", "2023-01-06", "2023-01-07", "2023-01-08", "2023-01-09", "2023-01-10"],
    "industry_code": ["52311", "56111", "54111", "58121", "55111", "57121", "59121", "51111", "53111", "50111"],
    "business_name": ["Acme Corporation", "Big Corp", "Mega Corp", "Super Corp", "Ultra Corp", "Extreme Corp", "Epic Corp", "Legend Corp", "Myth Corp", "Nova Corp"],
    "trading_as_name": ["Acme", "Big", "Mega", "Super", "Ultra", "Extreme", "Epic", "Legend", "Myth", "Nova"]
})

df.head()

,business_id,creation_date,load_date,industry_code,business_name,trading_as_name
0,1234567890123456,2023-01-01,2023-01-01,52311,Acme Corporation,Acme
1,2345678901234567,2023-01-02,2023-01-02,56111,Big Corp,Big
2,3456789012345678,2023-01-03,2023-01-03,54111,Mega Corp,Mega
3,4567890123456789,2023-01-04,2023-01-04,58121,Super Corp,Super
4,5678901234567890,2023-01-05,2023-01-05,55111,Ultra Corp,Ultra

In [2]:
# Write the DataFrame to a GCS bucket
client = storage.Client()

# Set the bucket_name to the name of the bucket you want to create
bucket_name = "business_data_synthetic99"
#blob name 
blob_name = "business_data.csv"

# Check if the bucket exists
if client.get_bucket(bucket_name) is None:
    # If the bucket does not exist, create it
    bucket = client.create_bucket(bucket_name)
    # Set the default storage class to "coldline"
    bucket.storage_class = "COLDLINE"
    print(f"Created bucket: {bucket.name}")
else:
    print(f"Bucket already exists: {bucket_name}")


# Convert the DataFrame to a CSV string
csv_data = df.to_csv(index=False)

# Create a blob and upload the CSV data
blob = bucket.blob(blob_name)
blob.upload_from_string(csv_data)
print(f"Wrote data to blob: {blob.name}")

# Read the data from the blob as a DataFrame
df = pd.read_csv(f"gs://{bucket_name}/{blob_name}")
df.head()

Bucket already exists: business_data_synthetic99

NameError: name 'bucket' is not defined